{% extends 'base.html' %}
{% block title %}password{% endblock %}
{% block content %}
    <h2 class="font-monospace">{{ password.name }}</h2>
    <div class="row">
        <div class="col">
            <h4 class="mt-5 font-monospace">Password:</h4>
            <h3 class="font-monospace mb-5">{{ decoded }}</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col"><h3 class="font-monospace"><a href="/passwords/">go back</a></h3></div>
        <div class="col"><h3 class="font-monospace"><a href="/passwords/delete/{{ password.id }}">delete</a></h3></div>
    </div>
{% endblock %}